#formulario{
  width: 100%;
  margin: 50px auto;
  text-align:center;
  position:relative;
}

#formulario fieldset{
    background:white;
    border:0 none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}

#formulario fieldset:not(:first-of-type){

  display: none;

}



#formulario #progress{
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

#formulario #progress li{
  list-style-type: none;
  color:black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  float:left;
  width: 33.33%;
  position: relative;
}

#formulario #progress li:before{
  content: counter(step);
  counter-increment: step;
  width: 20px;
  display: block;
  line-height: 20px;
  background:black;
  color:white;
  border-radius:10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 0 auto 10px auto;
}

#formulario #progress li:after{
  content: '';
  width: 100%;
  background: black;
  height: 2px;
  position: absolute;
  top: 9px;
  left: -50%;
  z-index: -1;

}

#formulario #progress li:first-child:after{
  content: none;
}

#formulario #progress li.ativo:before, #formulario #progress li.ativo:first-child:after{
  background: #57b846;
}